[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TestBrailleRAP
Comment=Braille authoring software for BrailleRAP
Exec=/usr/bin/testbraillerap-ubuntu
Terminal=false
Icon=/usr/share/icons/testbraillerap-icon.png
Keywords=braillerap
