Package: testbraillerap-debian
Version: 0.1.0
Depends: libc6 (>=2.36-9+deb12u7), libc6 (<<2.42), zlib1g
Section: utils
Priority: optional
HomePage: https://www.braillerap.org
Package-type: binary
Architecture: amd64
Maintainer: Build with love by <contact@braillerap.org>
Description: BrailleRAP device test software.
 TestBrailleRAP allow you to control and test a BrailleRAP device.
